[2019-07-08 12:48] ijinjay opened #2 ""tomominer_mbc" not found"
[code]
in `faml.py` & `aitom/geometry/volume/hypervolume/util.py` raised error
"No module named 'tomominer_mbc'"

module `aitom.filter.gaussian` has no attribute `dog_smooth__large_map`

Many `IndentationError` errors need to be fixed.

‼️  We should make a toy example to test the code as this week's objective. For example:

1. read mrc file using `io` module
2. filter the image with Guassian smoo

[2019-07-08 23:16] xulabs commented on #2
Fixed

[2019-07-09 11:41] xulabs opened #3 "Make particle picking working"
related functions are inside aitom.aitom.pick.dog.particle_picking_dog__util

can start with making it working on a simulated tomogram

Then make it working on a publically avaliable real tomogram, such as
https://www.ebi.ac.uk/pdbe/emdb/empiar/entry/10045/

[2019-07-09 11:59] xulabs opened #4 "Simple alignment based iterative subtomogram averaging"
to be added to aitom.average.align.simple_iterative.average

[2019-07-09 12:06] xulabs commented on #4
Example code can be found at
aitom/tomominer/average/genetic_algorithm/aligned_refine
aitom/tomominer/pursuit/multi/util.vol_avg__local

https://github.com/alberlab/tomominer/blob/master/bin/tm_average

To fully utilize all cpu cores, need to be parallelized using multiprocessing
A wrapper function can be found here:
aitom.parallel.multiprocessing.util

[2019-07-12 01:36] xulabs opened #5 "Enhance the library to produce images"
Add functions needed to produce figures that are similiar to following

https://user-images.githubusercontent.com/31047726/51266413-3613ec00-1989-11e9-810f-f8cb4924f435.png

write a tutoral so that user can produce such figure themself by reading the tutorial.

[2019-07-12 01:58] xulabs opened #6 "Make autoencoder working"
add autoencoder code under

aitom.classify.deep.unsupervised.autoencoder

according to
https://github.com/xulabs/projects/tree/master/autoencoder

and make it working.

write a tutorial on how to use it, and put the tutorial in
aitom/tutorials/006_autoencoder.py

[2019-07-13 04:22] #2 closed

[2019-07-13 04:30] ijinjay opened #7 "`aitom.tomominer.image.util' not found"
In the first tutorial:

https://github.com/xulabs/aitom/blob/master/tutorials/1.Load_volume_and_display.ipynb

Cannot use `aitom.image.vol.util.dsp_img` to display image.

Pls add `aitom.tomominer.image.util` to fix it.

[2019-07-13 14:29] xulabs commented on #7
Fixed by adding aitom.image.util
Pls check

[2019-07-13 14:57] #7 closed

[2019-07-19 12:45] ijinjay opened #8 "ModuleNotFoundError"
tutorial 002 & 003:
[code]
Pls fix it.

[2019-07-25 14:52] xulabs commented on #6
for development and debugging, can use simulated data generated by the following code
https://github.com/xulabs/aitom/blob/master/tutorials/003_simulate_subtomogram.py

[2019-07-25 14:54] xulabs commented on #8
Currently we keep the corresponding modules for internal use. We can leave tutorials 002 003 as is.

[2019-07-25 15:13] xulabs opened #9 "Interface with Scipion framework"
We will gradually interface AITom with the Scipion framework as a long term effort.

https://github.com/I2PC/scipion/wiki

[2019-07-25 15:57] xulabs commented on #3
Can start with this tomogram:
http://ftp.ebi.ac.uk/pub/databases/empiar/archive/10045/data/ribosomes/Tomograms/05/IS002_291013_005.mrc

first reduce its size through bining, see here:

https://github.com/xulabs/aitom/wiki/Tomogram-manipulation

[2019-07-30 12:43] wobushiyitouzhu opened #10 ""aitom.filter.gaussian.dog_smooth__large_map" not found"
In line 91 of
https://github.com/xulabs/aitom/blob/master/aitom/pick/dog/particle_picking_dog__util.py

No function named "gaussian.dog_smooth__large_map" in https://github.com/xulabs/aitom/blob/master/aitom/filter/gaussian.py

[2019-08-01 13:10] xulabs commented on #3
TODO:
replace with a larger tomogram
upload imod display code

[2019-08-01 13:23] xulabs opened #11 "make tutorials/002_generate_density_map.py working"

[2019-08-01 13:24] xulabs opened #12 "make tutorials/005_subtomogram_alignment.py working"

[2019-08-01 13:41] xulabs commented on #3
display code added to
aitom/pick/plot/particle_location_display_imod.py

[2019-08-01 13:43] xulabs commented on #10
added

[2019-08-01 14:08] #10 closed

[2019-08-01 14:45] #8 closed

[2019-08-01 14:54] xulabs commented on #3
@wobushiyitouzhu

Can start with this tomogram:
http://ftp.ebi.ac.uk/pub/databases/empiar/archive/10045/data/ribosomes/Tomograms/05/IS002_291013_005.mrc

first reduce its size through bining, see here:

https://github.com/xulabs/aitom/wiki/Tomogram-manipulation

[2019-08-03 08:31] ijinjay commented on #12
1. function `random_rotation_angle_zyz()` in file `geometry.ang_loc`  is missing.
2. function `align_vols_no_mask()` in file `align.util` is missing.
3. module `image.io` is missing.
4. function `save_png` in file `image.vol.util` is missing.

Pls fix. 😃 @xulabs

[2019-08-03 14:27] xulabs commented on #12
@ijinjay functions added. save_png can be found in image.io

[2019-08-04 01:41] ijinjay commented on #12
function `sphere_mask` in `model.util` is missing. 🌔 @xulabs

[2019-08-04 13:44] xulabs commented on #12
Added. @ijinjay

[2019-08-04 16:41] #12 closed

[2019-08-06 13:06] xulabs opened #13 "make FAML running"
entry function
aitom.average.ml.faml.faml.test_EM_real_data

The method is based on the following paper:

Zhao Y, Zeng X, Guo Q, Xu M. An integration of fast alignment and maximum-likelihood methods for electron subtomogram averaging and classification. ISMB 2018. Bioinformatics. 2018 Jul 1; 34(13): i227–i236. doi:10.1093/bioinformatics/bty267. arXiv:1804.01203

Let's first fix the bugs to make th

[2019-08-06 14:32] xulabs opened #14 "make subtomogram alignment based template search working"
This is performed through aligning #12 template against subtomograms obtained using particle picking #3

[2019-08-06 15:07] xulabs opened #15 "prepare a manuscript of AITom"
(low priority task)

first submit it to arXiv, so that users can cite it when needed
in future, will submit it to a journal for publication

[2019-08-06 21:34] xulabs opened #16 "implement saliency detection based particle picking"
According to
Feature Decomposition Based Saliency Detection in Electron Cryo-Tomograms.
https://arxiv.org/abs/1801.10562

the supervoxel computation could be implemented on GPU using numba.

[2019-08-08 07:39] wobushiyitouzhu opened #17 "some import errors"
1：
https://github.com/xulabs/aitom/blob/master/aitom/pick/dog/particle_picking_dog__util.py
ImportError: No module named 'aitom.tomominer.image.vol.partition' in line 43.
Maybe it should be changed to 'aitom.image.vol.partition' ?
2:
https://github.com/xulabs/aitom/blob/master/aitom/filter/gaussian.py
NameError: name 'fftn' is not defined in line 34. It seems that some modules or functions have no

[2019-08-08 13:11] xulabs opened #18 "prepare a single set of demo data"
prepare a single set of demo data for as many tasks as possible, for example
particle picking, autoencoder, subtomogram alignment, faml, etc
make the demo data publically avaliable

Can be a binned version of the following tomogram

http://ftp.ebi.ac.uk/pub/databases/empiar/archive/10045/data/ribosomes/Tomograms/05/IS002_291013_005.mrc

for the binning, need to use bint instead of downscale_local_

[2019-08-08 13:27] xulabs commented on #17
1. please change to aitom.image.vol.partition
2. from numpy.fft import fftn

[2019-08-08 13:30] #17 closed

[2019-08-12 15:43] buptwhr commented on #6
https://github.com/xulabs/aitom/blob/bee4831e33905165108c4c96a2134eb5360231c5/aitom/classify/deep/unsupervised/autoencoder/seg_src.py#L56

function "decode_images" not found @xiangruz

[2019-08-12 15:44] ijinjay commented on #13
1. `io.db.lsm_db` not found
2. `tomominer_mbc` not found
3. `statistics.vol` not found
4. pls provide some image data for FAML

@xiangruz @xulabs

[2019-08-13 14:48] #6 closed

[2019-08-13 15:13] xulabs opened #19 "integrate supervised deep learning based subtomogram classification to aitom"
code from
https://github.com/xulabs/projects/tree/master/particle_subdivision

add to
aitom/aitom/classify/deep/supervised/cnn/

use data from following location for testing
https://github.com/xulabs/aitom/blob/master/tutorials/000_general.md

[2019-08-13 15:14] xulabs opened #20 "check autoencoder tutorial"
https://github.com/xulabs/aitom/blob/master/tutorials/006_autoencoder.py

[2019-08-13 21:01] yg422 commented on #20
Tutorial works as expected on keras 2.1.* (probably should add this to README if this is only intended to work with older versions of keras)

However with keras 2.2.* it generates the following error
`Traceback (most recent call last):
  File "006_autoencoder.py", line 90, in <module>
    SEG.decode_all_images(d, data_dir)
  File "/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/sit

[2019-08-13 21:57] xulabs commented on #20
hi @buptwhr can you check the problem detected by @yg422 ?

[2019-08-14 03:44] buptwhr commented on #20
@yg422 I've noticed this problem, so I put keras==2.1.0 in requirements.txt. As for the issue you've mentioned, I read it before. But I don't know how to avoid Input or input_shape.
By using `autoencoder.load_weights()` rather than `KM.load_model()`, I can  solve the problem. But there are so many `KM.load_model()` and `save_model` in the project. I am not sure it'a stable choice.
I suggest using

[2019-08-15 13:36] #20 closed

[2019-08-15 16:34] xulabs commented on #13
added statistics.vol

[2019-08-17 12:19] ijinjay commented on #13
@xiangruz Pls add image db data for FAML. 😃

[2019-08-17 21:51] xiangruz commented on #13
@ijinjay I added database preparation commands into the faml tutorial.

[2019-08-18 03:14] #18 closed

[2019-08-18 03:47] ijinjay commented on #13
Pls add `fast_rotation_align` function in `align.fast.util`. 😃

[2019-08-18 19:48] xulabs commented on #13
added to align.fast.util.fast_rotation_align()
moved align.util to align.fast.util

[2019-08-19 04:12] #19 closed

[2019-08-20 11:00] ijinjay commented on #13
`test_EM_real_data(img_data, 20, 2, 5, "output")`
got RuntimeError: `v2.max() == v2.min()` in `tomominer.core.core.rot_search_cor()`
Is there any error in the sample data or the code?

[2019-08-20 12:36] xulabs commented on #13
@ijinjay this is normally because v2 has only a single value across the whole array. So it is invalid for alignment.
@xiangruz can you check the data?

[2019-08-21 23:48] xiangruz commented on #16
Bo Zhou said he lost the code.

[2019-08-22 00:37] xulabs commented on #16
@xiangruz we can find a student to re-implement the method

[2019-08-22 13:18] xulabs opened #21 "implement large scale particle picking based on spark"
spark is an industrial-grade big data analytics platform, we will use spark to enable particle picking of a large number of tomograms on computer clusters

[2019-08-22 13:35] xulabs opened #22 "test deep learning based classification"
See if you can understand following tutorial and successfully run it

https://github.com/xulabs/aitom/blob/master/tutorials/010_deep_learning_subtomogram_classification.py

[2019-08-22 13:55] xulabs opened #23 "integrate openset method into AITom"
write 10 - 20 slides and add to google drive, need to complete before Sep 15

---------------------------
The following tasks are not urgent, can be performed after the AAAI deadline

add the code under following module
aitom/aitom/classify/deep/supervised/cnn/openset

use existing functions in AITom as much as possible

write a tutorial and add to
https://github.com/xulabs/aitom_doc/blob/master/t

[2019-08-22 14:00] xulabs opened #24 "integrate semi-supervised autoencoder method into AITom"
@xiangruz  ask MCDS student to do the following

add the code under following module
aitom/aitom/classify/deep/supervised/cnn/semi/autoencoder

use existing functions in AITom as much as possible

write a tutorial and add to
https://github.com/xulabs/aitom/blob/master/tutorials/012_semi_supervised_autoencoder.py

prepare page and figures to be added to
https://github.com/xulabs/projects/semi_super

[2019-08-22 16:28] xulabs opened #25 "integrate SAG_fine_grained_alignment"
https://github.com/xulabs/projects/tree/master/SAG_fine_grained_alignment

will ask Yongchun Lu to do this.

[2019-08-25 13:42] xulabs opened #26 "inspect how to prepare testing data"
basic steps:
1) particle picking
2) autoencoder
3) template search

---------------------------------

As an exercise, see if you can process the following tomogram

https://github.com/xulabs/aitom/blob/master/tutorials/000_general.md

--------------------------------------------
Then try the public data of the following paper

Routine single-particle CryoEM sample and grid characterization by tom

[2019-08-25 14:28] xulabs opened #27 "write a tutorial on how to reproduce SHREC results using AITom"
for those missing components, can first call the functions in our inhouse library. We will then gradually add these components into AITom.

[2019-08-28 13:08] ijinjay commented on #13
https://github.com/xulabs/aitom/blob/956fa7e0ced372670724b09affb8e9c08ae4cbc3/aitom/average/ml/faml/faml.py#L834

https://github.com/xulabs/aitom/blob/956fa7e0ced372670724b09affb8e9c08ae4cbc3/aitom/average/ml/faml/faml.py#L850

Before `align.fast_align(v1, m1, v2, m2)`, m2 is assigned ones in the above lines, which causes the bugs. Pls fix it. @xiangruz

[2019-08-29 01:09] #13 closed

[2019-08-29 13:06] xulabs opened #28 "test FAML"
see issue #13

[2019-08-29 13:13] xulabs commented on #14
@wendingp this is a component needed for data processing of your project as well.

[2019-08-29 13:21] wendingp commented on #14
but no code in https://github.com/xulabs/aitom/blob/master/tutorials/007_000_template_search.py?

[2019-08-29 14:21] xulabs commented on #14
@wendingp this component is not completed. But it is not difficult to implement. Please consult @xiangruz for how to build this component. If there is any part missing from the library, let me know.

[2019-08-29 20:49] xulabs opened #29 "test stability of FAML"
see how the computation cost grow with the number of subtomograms and the size of subtomograms grows, and detect computation bottolenecks.

Also see if the current FAML can be executed on a computer cluster, if possible.

the simulated subtomograms for testing can be generated according to
https://github.com/xulabs/aitom/blob/master/tutorials/003_simulate_subtomogram.py

[2019-09-01 00:36] xulabs opened #30 "implement and integrate tomogram simulation"
implement the 2015 paper, and integrate code to following folders

aitom/geometry/pack/sphere
aitom/simulation/tomogram

[2019-09-01 13:33] xulabs commented on #3
@wobushiyitouzhu please also explain the input parameters and output data format by adding comments to corresponding functions.

[2019-09-05 17:26] xulabs commented on #21
We could consider to have Zhao Liu to work on this part.

[2019-09-05 17:43] xulabs opened #31 "implement FAML on spark"

[2019-09-12 03:16] buptwhr commented on #28
faml works as expected on Demo dataset
As to simulated subtomograms, I can't execute it due to the absence of
aitom.tomominer.simulation

the same problem as #8
@xulabs

[2019-09-12 13:59] xulabs opened #32 "tool for cropping tomogram"
We can use numpy to crop a volume, but if we save the volume into a mrc file, the header information is incorrect. To solve this problem there are two possible ways:

1) try to find a command line tool to do such cropping. This command line tool may exist in bsoft package
2) write our own code to correct the header and write into the mrc file using the mrcfile package.

Following is how to crop a

[2019-09-19 13:05] xulabs commented on #28
@buptwhr read FAML paper and see if you can understand the method. Then see if the output of FAML makes sense.

[2019-09-22 13:10] xulabs commented on #32
@wendingp please add the tool under
aitom/aitom/io/mrc/

please also add to the particle picking tutorial

[2019-09-22 13:49] #32 closed

[2019-09-25 06:52] buptwhr commented on #28
There seems a few bugs in faml.py:

1. I was trying to run the model for 20 iterations as the paper said. When it comes to the 12th iteration, some of the parameters(Alpha, sigma, Xi, A) became nan or very close to zero. Then the exception happened.
2. Then I set the iterations to 10. When evaluating the model, there also seems a few bugs associated with data type in these two functions. Maybe we

[2019-09-25 14:17] xulabs commented on #28
@xiangruz please take a look at this bug reported by @buptwhr

[2019-09-26 13:20] xulabs commented on #31
@buptwhr first do some research on spark and see what are needed for such implementation. If you need, I can connect you to a student who is familiar with spark.

[2019-09-26 13:55] AilinJ opened #33 "Convert python 2 code to python 3"

[2019-09-26 14:43] xulabs commented on #33
@AilinJ please fork the code, and use 2to3 to convert all code, then create a pull request so that we can inspect and merge the changes

[2019-09-27 23:16] xulabs commented on #33
@AilinJ if you find this problem is solved, then can close this issue.

[2019-09-27 23:17] xulabs opened #35 "build a tool to facilitate the segmentation of 3D images using Amira"

[2019-09-28 12:53] buptwhr commented on #28
AttributeError: module 'aitom.align.fast.util' has no attribute 'fast_align'
@xulabs Please add the code for it.

[2019-09-28 13:49] xulabs commented on #28
@buptwhr fixed

[2019-09-28 18:18] xulabs opened #36 "Find a python library to convert pdb structure to density map"

[2019-10-02 22:54] XindiWu opened #37 "Adversarial defense code integration"

[2019-10-03 00:21] SakuraCoder opened #38 "Add semi-supervised autoencoding classifier into Ai-Tom"
put the code under:
aitom/aitom/classify/deep/supervised/cnn/autoencoding

[2019-10-03 13:21] #33 closed

[2019-10-04 01:56] xulabs commented on #37
@XindiWu code add to aitom/classify/deep/supervised/cnn/robustness/attack_defense

including not only code, but also readme.md and a python code tutorial

[2019-10-04 01:59] xulabs opened #39 "GUI design"
start to plan for developing graphical user interface to make our platform friendly to the biologists end users.

[2019-10-04 02:27] xulabs opened #40 "particle picking code review"

[2019-10-04 03:05] d12306 commented on #23
add the code for openset method in aitom/aitom/classify/deep/supervised/cnn/openset,

ready to write the tutorial.

[2019-10-07 09:33] yichuanyanyu26 commented on #22
Test the subtomogram classification and successfully run on the Demo Dataset in 000_general.md
https://github.com/xulabs/aitom_doc/blob/master/tutorials/010_deep_learning_subtomogram_classification.py

[2019-10-07 15:30] #22 closed

[2019-10-09 17:28] xulabs opened #42 "design a logo for AITom"

[2019-10-09 18:37] xavierrollet commented on #42
Hi everyone, i submit a suggestion. Feedbacks are welcome :-).

![Logo_Aitom](https://user-images.githubusercontent.com/56123802/66510077-a3961880-ead4-11e9-9f9b-ab0985f6bca5.png)

[2019-10-09 22:34] xulabs commented on #42
Thanks @xavierrollet for the suggestion.

[2019-10-09 22:43] xavierrollet commented on #42
If you want, you can suggest improvments/modifications/variations. It's a pleasure to help.

[2019-10-10 01:02] xulabs opened #45 "write a python script to identify redundant functions"
this could be done using astor
place the code under aitom.prog.qa module

[2019-10-10 13:21] xulabs commented on #39
IMOD, dynamo, eman2, bsoft, ucsf chimera

[2019-10-10 13:25] zhaoliu1996 commented on #21
assign this to me pls.

[2019-10-13 18:13] xulabs opened #48 "automatic generation of API doc"
find a good way to automatically generate API document from comments when installing AITom

[2019-10-16 23:49] zhaoliu1996 commented on #5
assign this to me please.

[2019-10-17 13:15] zhaoliu1996 commented on #31
assign this to me

[2019-10-17 13:21] zhaoliu1996 opened #50 "showing picture at particle picking plot need external program imod"
aitom library now relies on the external program installed in Linux to show result pictures. This will make the library not working on clusters and docker environments. We need to use qt or web to show the pictures.

[2019-10-17 23:37] xulabs opened #51 "tomogram simulation"
consider to convert related code from following library to python
https://github.com/PhilippPelz/InSilicoTEM_mod

[2019-10-20 22:14] xavierrollet commented on #42
![aitomblue](https://user-images.githubusercontent.com/56123802/67167230-b1cb1b00-f397-11e9-8609-33a90a118554.png)

Here is a color variation. Bye

[2019-10-22 22:23] xulabs opened #53 "improve the throughput of particle picking"
need to come out a plan on how to automatically and efficiently perform particle picking for hundreds of tomograms

[2019-10-22 22:45] xulabs commented on #42
Thanks @xavierrollet .

[2019-10-25 01:14] #38 closed

[2019-11-10 21:19] #51 closed

[2019-11-16 17:34] pconesa commented on #9
Hi! Count with our assistance... I think now is the right timing for this. We are preparing a release of the scipion-tomo set of plugins with Eman, imod, some xmipp methods....dynamo is on board too.

[2019-11-16 17:37] pconesa commented on #9
Better this page, we very soon will update it

https://scipion-em.github.io/docs/docs/developer/developers.html

[2019-11-16 18:42] xulabs commented on #9
@pconesa great! If you could help us with the interfacing, that would be wonderful!
The usage of current functions can be found in the following tutorials.
https://github.com/xulabs/aitom_doc/tree/master/tutorials

[2019-11-16 18:54] xulabs commented on #23
@d12306 please remember to also add tutorial and the readme.md into the folder

[2019-11-18 10:57] pconesa commented on #9
What would be the simplest method to integrate...my idea is to:

1.- We create a basic plugin for you with one of the methods integrated.
2.- We share it with you and start co-developing it and co-maintaining it.

How does it sound?

[2019-11-21 01:53] xulabs commented on #9
Sounds good!

The simplest method we have is particle picking.
https://github.com/xulabs/aitom_doc/tree/master/tutorials/008_particle_picking

Perhaps we could start from here.

[2019-11-21 21:48] pconesa commented on #9
Great, I've got an skeleton ready. Soon will need your input to call the
picker.

El jue., 21 nov. 2019 2:53, xulabs <notifications@github.com> escribió:

[2019-11-22 01:18] #15 closed

[2019-11-22 01:19] xulabs commented on #9
Great. Thanks.

[2019-11-28 14:15] xulabs commented on #16
@zhuzhenxi please add code and tutorial under the following module
aitom.segmentation.saliency.feature_decomposition

[2019-12-02 16:01] xulabs opened #58 "Images"
Here we will put any images to be linked to the documents or code of AITom

[2019-12-02 16:02] xulabs commented on #58
Feature decomposition based saliency detection.
![saliency_map](https://user-images.githubusercontent.com/17937329/69974382-21820900-14f3-11ea-8557-b6d67d1925dc.png)
![SLIC](https://user-images.githubusercontent.com/17937329/69974383-21820900-14f3-11ea-9d5a-4bab82fab94a.png)
![original](https://user-images.githubusercontent.com/17937329/69974384-221a9f80-14f3-11ea-9681-f5f4bbd82029.png)

[2019-12-05 09:55] pconesa commented on #9
HI @xulabs , I've pushed the scipion plugin for Aitom (a VERY basic one) to scipion-em organization.

It is perfectly ok if you want to have it here under xulabs.

You can find in the readme what do you need....there are though a few items I'd like to comment:

1.- Installation: The plugin is able to install aitom in a conda VE, but for that I needed a release (thus I forked aitom repo and just ma

[2019-12-05 15:32] xulabs commented on #9
Thanks a lot @pconesa
Currently, almost all of the aitom developers are student volunteers, and they are busy at the end of this semester. Once they are available, I will find a student work on this.
Thanks again!

[2019-12-05 16:28] pconesa commented on #9
Great! We can add whoever you want to our slack channel.

[2019-12-06 00:37] xiangruz commented on #4
Alignment based classification

[2019-12-06 00:48] xulabs commented on #4
Alignment based classification method, see following paper

Xu M, Beck M, Alber F. High-throughput subtomogram alignment and classification by Fourier space constrained fast volumetric matching. Journal of Structural Biology. 2012 May;178(2):152-64. Epub 2012 Mar 7.

[2019-12-18 03:05] xulabs opened #59 "Write a program to detect redundant functions"
Detect which same function is defined in multiple places. So that we can remove them and only keep a single copy.

[2019-12-18 03:06] xulabs opened #60 "Inspect how to use AWS functionality to support aitom"

[2019-12-18 03:07] ijinjay commented on #59
👌got it.

[2019-12-19 13:12] ijinjay commented on #59
Below is the list of the redundant functions. Function in the list that only exists in one file means it appears at least twice in that file, usually defined one more in the comments.

The results are organized as follow:

- function name
- files that contain the function

We need to make choices about which definition should be retained. 🤔

[code]

[2019-12-23 10:17] xulabs opened #61 "add saliency detection code"

[2019-12-25 19:51] xulabs opened #62 "Integrate Scipion plugin with aitom"
@ijinjay please take a look and see if it is possible to integrate the following plugin into aitom

https://github.com/scipion-em/scipion-em-aitom

[2019-12-27 01:30] xulabs commented on #59
@ijinjay the code are merged. Please also refractor and add the program to aitom.prog.tools so that we can run use it in the future.

[2020-01-09 23:16] #45 closed

[2020-01-09 23:17] #23 closed

[2020-01-09 23:17] #24 closed

[2020-01-10 02:08] xiangruz commented on #62
@zhuzhenxi

[2020-01-10 02:09] xiangruz commented on #9
@zhuzhenxi

[2020-01-12 16:57] xulabs commented on #60
document added to google drive

[2020-01-12 16:57] #60 closed

[2020-01-16 14:24] zhuzhenxi commented on #9
HI @pconesa , I successfully install 'scipion-em' in devel mode but meet some problems while testing (after running 'scipion test aitom.tests.tests_picking.TestAitomPicking').  It seems 'picking' command not found.

    FAILED with error: Protocol failed: Command ' conda activate aitom-0.1 && picking "/home/zzx/ScipionUserData/projects/TestAitomPicking/Runs/000002_ProtImportTomograms/extra/import_

[2020-01-16 14:37] pconesa commented on #9
We have seen many issues when we run conda apps.
What has better worked for us is to:
1.- Do not have conda in the path (remove any conda initiatization in the bash.rc or equivalent.
2.- Tell Scipion how to activate conda by setting the variable CONDA_ACTIVATION_CMD to something like:
I have this working for my laptop in my <SCIPION_HOME>/config/scipion.conf , under [BUILD] section :
CONDA_ACTIVAT

[2020-01-16 14:50] pconesa commented on #9
@zhuzhenxi when you say scipion-em .....what actually do you mean?
We are working on scipion 3 (in python3) and the latest released version of scipion is scipion2.0.

Which one have you installed. The plugin I initiated targets Scipion 2.0, so python 2.7

[2020-01-16 15:00] zhuzhenxi commented on #9
Thanks a lot @pconesa , I will try again.

[2020-01-19 02:37] xulabs opened #65 "Tutorial of cryoet introductory materials"
create a tutorial page and add links to introductory materials of cryo-ET

[2020-01-20 10:49] zhuzhenxi commented on #9
Conda seems to work, but 'picking' is still 'command not found'(non-zero exit status 127). @pconesa
![image](https://user-images.githubusercontent.com/47468650/72720487-11aea900-3bb5-11ea-89b9-a6102046b5f7.png)

[2020-01-20 14:40] pconesa commented on #9
Hi @zhuzhenxi , that might be bacause I changed sligthly your code to have an entry point for the picking. Please do not take it literally it was just an approach that worked for me:
https://github.com/xulabs/aitom/compare/master...pconesa:master

I find it very easy to have those entry point, so the user/scipion does not need to know where the scripts are, they are available as commands.

[2020-01-20 17:52] xulabs opened #66 "Integrate simulated annealing image selection code"
Integrate the code from our simulated annealing paper

[2020-01-20 22:06] xulabs commented on #50
@YuchenZeng Please take a look at itk-vtk-viewer, and discuss with @ijinjay

[2020-01-27 14:13] zhuzhenxi commented on #9
Hi @pconesa , the plugin works pretty well, thanks a lot.
A release is available (https://github.com/xulabs/aitom/releases) and code with entry point has been merged (https://github.com/xulabs/aitom/tree/master/aitom/bin). Is it possible now for the plugin to install AITom automatically?

[2020-01-27 14:17] pconesa commented on #9
Nice! It should work, I actually did it getting the release from my fork, but now that you have your own it should be a matter of pointing to your release.

[2020-01-27 14:24] zhuzhenxi commented on #9
Actually, I manually install AITom in conda VE 'aitom-0.1'. So how can I depend on the release and maybe install AITom automatically like other Scipion plugins(more friendly to users)?

[2020-01-27 14:42] pconesa commented on #9
Yep, I've added you as admin of the plugin repository.

This line is the one grabbing the aitom release from my fork, just need to be adapted to take your url.

[2020-01-27 14:44] pconesa commented on #9
Your release url should be this  one: https://github.com/xulabs/aitom/archive/0.1.tar.gz

Optionally you can deploy aitom to pipy and then the installation will become a "pip install aitom"

[2020-01-27 14:50] zhuzhenxi commented on #9
Ok, I will discuss with Xu for further development.

[2020-01-27 16:10] xulabs commented on #9
@zhuzhenxi yes we may deploy it to pipy. Please check how to do it and let me know. Thanks.

[2020-01-27 16:16] pconesa commented on #9
You are almost there, your code is ready to be deploy, you just need an account and push it.

We have some instructions for our plugins but there is nothing specific to Scipion there, all is standard pypi.org commands:

https://scipion-em.github.io/docs/docs/developer/creating-a-plugin#create-and-upload-distribution

Except fo the -c "scipion-2.0" (you don't need that for uploading aitom.)

[2020-01-27 16:22] xulabs commented on #9
@pconesa got it. Will do. Thank you.

[2020-01-30 00:43] xulabs commented on #9
@pconesa @zhuzhenxi the code is now available at
https://test.pypi.org/project/aitom/0.0.1

@zhuzhenxi I have modified the version from 0.1 to 0.01 because it is a very alpha release. Please change the related code and tutorial accordingly if needed.

[2020-01-30 14:07] pconesa commented on #9
Great, now we just need to do the pip install using it, not sure how to use a pip package from test.pipy but should be documented somewhere...I can make a PR with that change.

[2020-02-02 20:04] xulabs commented on #65
@hrch3n

[2020-02-05 20:21] xulabs commented on #50
@YuchenZeng

add the three.js version under
aitom/pick/plot/particle_location_display__three_js

[2020-02-19 22:12] xulabs commented on #65
@hrch3n we dont have to re-summarize the everything and put it into the page. Most importantly we need to have LINKS to basic materials to guide the students to self learn, such as the following one:

https://www.youtube.com/watch?v=gDgFbAqdM_c&list=PL8_xPU5epJdctoHdQjpfHmd_z9WvGxK8-

[2020-02-19 22:13] hrch3n commented on #65
Okay I’ll improve it

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: xulabs <notifications@github.com>
Sent: Wednesday, February 19, 2020 5:12:01 PM
To: xulabs/aitom <aitom@noreply.github.com>
Cc: Haoran Chen <chr_3742@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [xulabs/aitom] Tutorial of cryoet introductory materials (#65)

@hrch3n<https://gi

[2020-02-20 14:09] xulabs opened #70 "pip deployment"
@zhuzhenxi please add instructions of pip deployment to the following document:

https://github.com/xulabs/aitom/blob/master/doc/deploy.md

[2020-02-27 09:50] #70 closed

[2020-02-27 09:51] #66 closed

[2020-02-27 09:51] #62 closed

[2020-02-27 09:51] #65 closed

[2020-03-02 21:53] #16 closed

[2020-03-02 21:54] #25 closed

[2020-03-02 22:00] #59 closed

[2020-06-15 14:58] evaxguo opened #96 "Using AITom in Jupyter Notebook and Google Colab"
It would be great if AITom could be used in Jupyter Notebook and Google Colab.

[2020-06-16 02:20] xiangruz commented on #58
Gum-Net
![1114-teaser](https://user-images.githubusercontent.com/31047726/84724490-536e3080-af56-11ea-93b8-b31bd4f18cd6.gif)

[2020-06-16 03:10] xulabs commented on #96
@evaxguo thanks for the suggestion. You are welcome to discuss with other team members to help to implement this feature.

[2020-07-07 20:46] xulabs opened #111 "patch codebase with other files"
To keep the codebase lean, we only include source code and text files. On the other hand, often there is a need to have other files to run the code. We need to find a way to manage these non-text files and patch them after downloading the AITom code.

[2020-08-06 11:39] zhuzhenxi commented on #58
model fitting
![original](https://user-images.githubusercontent.com/47468650/89527603-2cc4cb80-d81c-11ea-97dd-85f89c26779a.png)
![morphsnake_result](https://user-images.githubusercontent.com/47468650/89527650-449c4f80-d81c-11ea-8410-97521608ba01.png)
![RANSC_result](https://user-images.githubusercontent.com/47468650/89527711-5f6ec400-d81c-11ea-8fd4-35cfb00e1716.png)
![result](https://user-images.g

[2020-08-17 02:30] xulabs opened #122 "Fill up publications"
https://github.com/xulabs/aitom/blob/master/doc/publications.md

[2020-08-26 22:01] evaxguo commented on #58
Tutorial: 007_000_template_search/README.md
![c_max_30_degree_rotation](https://user-images.githubusercontent.com/56007379/91361316-0912f680-e7c6-11ea-9889-27d837c32e1b.png)

[2020-09-06 00:28] joyhsu0504 opened #131 "HDF Support"
Would be cool to offer .hdf support in aitom.io!

[2020-09-06 00:29] joyhsu0504 opened #132 "Runtime of aitom.filter.smooth"
Would be nice to have a faster Gaussian blur implementation than scipy's implementation in the case of larger, unbinned tomogram input

[2020-09-12 05:07] zhuzhenxi commented on #132
Thank you for your advice. We are also looking for a convenient and fast way to implement 3D gaussian convolution of large tomograms.

[2020-09-12 05:13] zhuzhenxi commented on #131
Maybe in the future.

[2020-09-19 02:12] xiangruz opened #133 "formating tutorial 007"
change name and folder

[2020-09-19 02:12] xiangruz commented on #133
@evaxguo

[2020-09-25 21:25] evaxguo commented on #133
pull request submitted

[2020-09-26 15:02] evaxguo commented on #133
007_template_matching_tutorial.md needs to be slightly modified since the script files are merged into one. I'll work on it this weekend.

[2020-10-06 20:21] geoffwoollard commented on #96
Right now my colab is running Python 3.6.9 and Ubuntu 18.04.5 LTS. I see no reason why I couldn't git clone the aitom repo and install it. I am getting an error thorugh.

[code]
[code]

[2020-10-06 20:22] geoffwoollard commented on #96
The error seems to be with the version of keras. The requirements.txt file has `keras==2.1.0`. I took out the specific version and just put in `keras`, but that didn't solve the issue.

[2020-10-06 21:22] xulabs commented on #96
@geoffwoollard generally only the fast subtomogram alignment part involves c++ code. If you don't use the subtomogram alignment, then you can just clone the library without compiling it.

The c++ code depends on an older version of armadillo. You are very welcome to help us to update the c++ code so that it is compatible with the current version of armadillo.

[2020-10-07 19:06] Shadowalker1995 commented on #96
@geoffwoollard I see that your machine use `x86_64-linux-gnu-gcc` as the default GCC compiler. I have also encountered some compile errors with this compiler. So, I recommend you add the following two lines in the `setup.py` file:
`os.environ["CC"] = "gcc"
os.environ["CXX"] = "gcc"
`
It works fine for me.

[2021-01-14 08:44] sherjy opened #167 "tomominer.simulation.reconstruction__simple_convolution cannot find module tomominer"
Hi, when calling aitom/aitom/geometry/pack/sphere/few/map_tomo/map2tomogram.py on 171.
**import tomominer.simulation.reconstruction__simple_convolution as TSRSC** cause **no module tomominer**, and this function can be used before 2021/1/11.
When I try using:
**sys.path.append('/ldap_shared/shared/src/aitom_core/')**
**import aitom_core.simulation.reconstruction.reconstruction__simple_convolution

[2021-01-15 07:30] Shadowalker1995 commented on #167
Hello, @sherjy  I have checked it out and found that `reconstruction__simple_convolution.py` is compiled using python3.8. So you need to upgrade your python interpreter to version 3.8.
In addition,  using the following code:
[code]

[2021-09-07 06:36] Anupam-USP opened #195 "Logic error in code"
In the file [saliency_detection.py](https://github.com/xulabs/aitom/blob/master/aitom/segmentation/saliency/feature_decomposition/saliency_detection.py), at line [384](https://github.com/xulabs/aitom/blob/6a16c8cebc55712b68bc90ec07c64292cc98e8ab/aitom/segmentation/saliency/feature_decomposition/saliency_detection.py#L384), the distance formulae were expected to be from page 4 of the [source paper]

[2021-09-11 02:57] zhuzhenxi commented on #195
[code]
Because here `m, interval, and w` depend on 3 independent hyperparameters, these two ways of writing differ by only one constant. Specifically,
[code]

[2021-09-22 09:02] Faaopoopo-ruka commented on #167
Hi,  I can't find the path aitom_core, how can I use the aitom_core? Thanks

[2021-10-12 12:23] DL-stack opened #197 "docker instructions lead to dependency error"
Hey,

thanks for developing AITOM. I can't get the program to run on colab as well as on docker because it runs every time in Module not Found errors. When building the docker container, the processes exits every time with error code because of Keras being 2.1 or 2.6 but the other version is needed or vice versa. This happens for the package six also. Even after editing the requirements.txt and/or

[2021-10-19 11:18] FromSaffronCity opened #199 "Facing problem running ProtoNet"
Greetings,

I am currently facing a problem whenever I try to work with [ProtoNet](https://github.com/xulabs/aitom/tree/master/aitom/classify/deep/supervised/cnn/few_shot/protonet). As per the documentation, if I run `python run_train.py`, I get the following error.

[code]

Apparently, there is no `protonets.data` file under the directory `protonets/utils` where the file `data.py` resides. Am I m

[2021-11-12 02:33] xiangruz commented on #199
Is this resolved?

[2021-11-12 05:09] FromSaffronCity commented on #199
The issue that I mentioned here was due to the absence of `protonet/protonets/data` directory in this Github repository. I am closing this issue now. But, the `aitom/aitom/classify/deep/supervised/cnn/few_shot/protonet` repository has not been updated yet. If it is not an issue, then I request you to update the particular repository. Thank you.

[2021-11-12 05:09] #199 closed

[2022-01-01 15:04] lgl603 opened #210 "tutorials 005"
Hello,

 I run the tutorial 005_subtomogram_alignment.py, and an error happens as following:

![image](https://user-images.githubusercontent.com/16335327/147853519-5f107d55-d590-4996-a445-e7374c87ed05.png)

It seems that the aitom->tomominer->core has no file called 'core'. Can you help me? very thanks

[2022-01-08 03:13] zhuzhenxi commented on #210
'aitom.tomominer.core.cython.core' should be created after compiling. Please try to reinstall aitom (python setup.py install).

[2022-01-17 08:37] pconesa commented on #9
Hi, this completely went out of my radar.

We even organized a tomo course and didn't mention this integration effort.

Maybe is a good time to catch up? HOw re things going? Do you need any assistance?

[2022-02-19 17:08] DL-stack opened #217 "Gum-Net Training not improving with demo data"
Hi,

I was testing the Gum-Net and for that used the provided demo data set.
After around 30 epochs and around 15 hours of training I stopped it because there is no improvement in the
loss function, please see below the logs of the training procedure.

Before finetuning:
Rotation error:  1.7350925500744534 +/- 0.6650064011311111 Translation error:  8.442523177067761 +/- 3.44293514383784 ----------

[2022-02-21 14:25] KJYoung opened #218 "Some modules are missing"
Hi, I am looking through the repository especially for the simulation of tomogram data.
However, as mentioned in the issue #167, there are some missing modules not publicly available such as aitom_core.
Is there any plan to share those modules in the near future, hopefully?

Best Regards!

[2022-02-25 22:26] xiangruz commented on #218
We are sorry that aitom_core is still under development and not publicly available at this stage

[2022-02-25 22:29] xiangruz commented on #217
Discussed

[2022-04-22 00:49] JachyLikeCoding commented on #217
I got a similar result. Could you tell me how to solve it? Thank you.

[2022-04-22 00:51] JachyLikeCoding commented on #217
![Uploading image.png…]()
This is my result.

[2022-04-22 00:56] JachyLikeCoding commented on #217
This is my result:

Epoch 1/1
100/100 [==============================] - 1388s 14s/step - loss: 0.8265
Training Iteration 4
Epoch 1/1
100/100 [==============================] - 1387s 14s/step - loss: 0.8275
Training Iteration 5
Epoch 1/1
100/100 [==============================] - 1388s 14s/step - loss: 0.8268
Training Iteration 6
Epoch 1/1
100/100 [==============================] - 1388s 14s/step

[2022-04-27 22:30] xiangruz commented on #217
What we observed is that sometimes on the low SNR dataset (using the pre-trained model), the loss may not be decreasing but if you output the transformation error before and after finetuning, it is improving. Hopefully it helps!

[2022-05-05 12:37] JachyLikeCoding commented on #210
Excuse me~ Have you solved this problem? I can not run this script too...

[2022-07-21 00:31] DuranRafid commented on #58
![Harmony-model-image](https://user-images.githubusercontent.com/14123565/180104959-46ecb2b6-03c6-49de-b296-b6546d62c98a.png)